@import "tailwindcss";

@theme {
    --color-brand-black: #0D0D0D;
    --color-brand-dark: #413F3D;
    --color-brand-gray: #8C8B88;
    --color-brand-light: #BFBDB8;
    --color-brand-beige: #D9D6CF;
}